ul,li,h1,h2,h3,h4,p,div,i,dl,dt,dd,img{margin: 0;padding:0;font-size: 100%;font-style: normal;border: 0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
body {
	background: #fbf7f0;
	color: #000;
	font: 14px/1.65 "Microsoft Yahei",Tahoma,Arial,SimSun,"Hiragino Sans GB",PMingLiu,Verdana,sans-serif;
}
a{
	color: #004267;
	text-decoration: none;
}
a:hover {
	color: #ff7f24;
}
.header{
	padding: 2em 0;
}
.header .book-name{
	text-align: center;
	font-size:250%;
}
.header .detail{
	width:940px;
	margin: 1em auto;
}
.header .info , .header .pic{
	float:left;
}
.header .pic{
	padding-top:14px;
}
.header .info{
	padding-left:40px;
	width: 780px;
	font-size:120%;
}

.header .info i{
	color: #999;
}
.header dd{
	width:760px;
	line-height:270%;
}
.jiathis_style_24x24{
	padding-top:10px;
}
.wrap{
	width:940px;
	margin:0 auto;
}
#container{
	list-style-type: none;
}
.ltside{
	float:left;
	width:640px;
}
.rtside{
	float:left;
	width:300px;
}
#container li{
	float:left;
	width:48%;
	list-style: none;
	float: left;
	padding: 5px 0 0;
	margin: 0;
	height: 30px;
	text-overflow: ellipsis;
	border-bottom: 1px dashed #ddd;
}
#container a{
	font-size:110%;
	line-height: 2em;
	text-overflow: ellipsis;
}
#content{
	padding-right:1em;
}
#content .capt-title{
	text-align: center;
	font-size:180%;
	padding-bottom:1em;
	color:#D7491F;
}
#content p{
	font-size:120%;
	line-height: 200%;
	text-indent: 2em;
	text-align: left;
}